* {
  margin: 0px;
}

.dark .signup {
  border: none;
}

.signup {
  background-color: #3882F6;
  border: 1px sold white;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 25px;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
}


.header,
.footer {
  display: flex;
  background-color: #1F2937;
  justify-content: space-between;
  padding: 16px;
}

div.quote {
  background-color: grey;
  padding: 16px;
}

img {
  border: solid black;
  height: 100px;
  width: 100px;
}

.imgs {
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  gap: 8p
}

.action {
  display: flex;
  justify-content: center;
  width: 75%;
  color: white;
  background-color: #3882F6;
  border-radius: 12px;;
  padding: 32px;
}

.blue div {
  background-color: #3883f6;
  border-radius: 10px;
}

.blue div strong {
  color: white;
  font-size: 20px;
}

.blue div p {
  color: white;
  font-size: 16px;
}

.blue {
  width: 70%;
  height: 300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue div {
  display: flex;
}

.blue div .signup {
  display: flex;
  flex-direction: column;
}

.blue div div {
  margin: 50px;
}

.quote {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote div {
  width: 50%;
}

.dark .top-img {
  width: 500px;
}

.sample-img {
  width: 200px;
}

.quote div span {
  float: right;
  font-size: 32px;
  font-weight: bolder;
}

.random {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  width: 70%;
  height: 500px;
}

.random .imgs {
  display: flex;
  justify-content: space-around;
}

.random .info {
  margin: 0px auto;
}

nav {
  display: flex;
  margin: auto;
  width: 80%;
  padding: 20px 0px;
  justify-content: space-between;
}

.links {
  display: flex;
  width: 50px;
  justify-content: space-around;
}

.top-div {
  display: flex;
  margin: auto;
  width: 80%;
  height: 500px;
  justify-content: space-between;
  align-items: center;
}

footer {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

footer span {
  padding-bottom: 20px;
}