* {
  margin: 0px;
}

.dark .signup {
  border: none;
}

.signup {
  background-color: #3882F6;
  border: 1px sold white;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 25px;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
}


.header,
.footer {
  display: flex;
  background-color: #1F2937;
  justify-content: space-between;
  padding: 16px;
}

div.quote {
  background-color: grey;
  padding: 16px;
}

.random {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  border: solid black;
  height: 100px;
  width: 100px;
}

.imgs {
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  gap: 8p
}

.action {
  display: flex;
  justify-content: center;
  width: 75%;
  color: white;
  background-color: #3882F6;
  border-radius: 12px;;
  padding: 32px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 16px;
  margin-left: auto;
}


li {
  display: flex;
  text-align: right;
}

footer {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}