body {
  color: white;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #3882F6;
  border-radius: 8px;
}

.top {
  background-color: #1F2937;
}

div.quote {
  background-color: grey;
  padding: 16px;
}

.random {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  border: solid black;
  height: 100px;
  width: 100px;
}

a {
  text-decoration: none;
  color: white;
  gap: 8p
}

.action {
  display: flex;
  justify-content: center;
  width: 75%;
  color: white;
  background-color: #3882F6;
  border-radius: 12px;;
  padding: 32px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
}